.cir-datatables .paginate_disabled_previous,
.cir-datatables .paging_full_numbers .paginate_disabled_previous {
	/*background: url('../images/cir/back_disabled.png') no-repeat top left;*/
	background : none ;
	padding-left : 0 ;
}

.cir-datatables .paginate_enabled_previous,
.cir-datatables .paging_full_numbers .paginate_enabled_previous {
	/*background: url('../images/cir/back_enabled.png') no-repeat top left;*/
	background : none ;
	padding-left : 0 ;
}

.cir-datatables .paginate_enabled_previous:hover,
.cir-datatables .paging_full_numbers .paginate_enabled_previous:hover {
	/*background: url('../images/cir/back_enabled_hover.png') no-repeat top left;*/
	background : none ;
	padding-left : 0 ;
}

.cir-datatables .paginate_disabled_previous:before,
.cir-datatables .paginate_enabled_previous:before,
.cir-datatables .paging_full_numbers .paginate_disabled_previous:before,
.cir-datatables .paging_full_numbers .paginate_enabled_previous:before {
	content : '\00AB\0020';
}

.cir-datatables .paginate_disabled_next,
.cir-datatables .paging_full_numbers .paginate_disabled_next {
	/*background: url('../images/cir/forward_disabled.png') no-repeat top right;*/
	background : none ;
	padding-right : 0 ;
}

.cir-datatables .paginate_enabled_next,
.cir-datatables .paging_full_numbers .paginate_enabled_next {
	/*background: url('../images/cir/forward_enabled.png') no-repeat top right;*/
	background : none ;
	padding-right : 0 ;
}

.cir-datatables .paginate_disabled_next:after,
.cir-datatables .paginate_enabled_next:after,
.cir-datatables .paging_full_numbers .paginate_disabled_next:after,
.cir-datatables .paging_full_numbers .paginate_enabled_next:after {
	content : '\0020\00BB' ;
}

.cir-datatables .paginate_enabled_next:hover,
.cir-datatables .paging_full_numbers .paginate_enabled_next:hover {
	/*background: url('../images/cir/forward_enabled_hover.png') no-repeat top right;*/
	background : none ;
	padding-right : 0 ;
}


.cir-datatables .sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.cir-datatables .sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.cir-datatables .sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.cir-datatables .sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.cir-datatables .sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}
