header h1 {
	font-family : "adelle", Georgia, serif ;
	font-weight : 500 ;
	font-size : 2.5em ;
	line-height : 2em ;
	padding-bottom : 0 ;
}

header h1 strong {
	font-weight : 700 ;
}

/******************* list page *******************/

#main-tab li a {
	font-family : "adelle", Georgia, serif ;
	font-size : 1.4em ;
	text-transform : none ;
}	

#contribution-list .progress-wheel {
	display : block ;
	margin : 1em auto ;
	width : 200px ;
	text-align : center ;
}

#contribution-list .progress-wheel .wheel,
#contribution-timeline .progress-wheel .wheel {
	padding-right : 1em ;
}

.donor-list {
	width : 100% ;
}

.donor-list tr:first-child td {
	padding-top : 0 ;
}

.donor-list td {
	border-bottom : 1px solid #CCC ;
	padding : 15px 4px ;
}

.donor-list td.rank {
	font-size : 1.8em ;
	padding-left : 0 ;
	padding-right : 15px ;
	text-align : center ;
}

.donor-list .donor-name {
	display : block ;
	font-size : 1.1em ;
}

.donor-list .donor-descrip {
	display : block ;
}

.donor-list td.amount {
	text-align : right ;
	font-size : 1.2em ;
	padding-left : 20px ;
	padding-right : 0 ;
}

.donor-list tr:last-child td {
	border-bottom : none ;
}

.donor-list .mug {
	float : left ;
	margin-right : 10px ;
	margin-bottom : 5px ;
}

td.badges {
	min-width : 135px ;
}

td.badges ul {
	text-align : center ;
	padding : 0 ;
	margin : 0 ;
}

td.badges ul li {
	list-style-type : none ;
	display : inline-block ;
	zoom : 1 ;
	*display : inline ;
	padding : 0 0 2px 0 ;
	margin : 0 ;
	font-size : 0.75em ;
	line-height : 1em ;
	text-align : center ;
}

td.recipient {
	position : relative ;
}

td .interesting {
	display : inline-block ;
	zoom : 1 ;
	*display : inline ;
	font-size : 11px ;
	background-color : #FCF4EC ;
	padding : 1px 4px ;
}

/******************* end list page *******************/

/******************* detail page *******************/

.intro-text {
	margin-bottom : 1.8em ;
}

#donor-info {
	position : relative ;
}

#sharing {
	margin-bottom : 10px ;
}

#share-donor {
	float : right ;
}

#rank-container {
	position : relative ;
	float : left ;
	display : inline-block ;
	zoom : 1 ;
	*display : inline ;
	min-width : 38px ;
	min-height : 28px ;
	margin-right : 15px ;
	margin-bottom : 15px ;
}

#donor-rank {
	position : absolute ;
	top : 0 ;
	left : 0 ;
	display : inline-block ;
	zoom : 1 ;
	*display : inline ;
	width : 38px ;
	height : 28px ;
	background-color : #B3B3B3 ;
	text-align : center ;
	padding-top : 10px ;
	font-size : 24px ;
	font-family : Arial, sans-serif ;
}

#donor-photo {
	display : inline-block ;
	zoom : 1 ;
	*display : inline ;
	width : 128px ;
}

#donor-photo-credit {
	font-size : 0.8em ;
}

#badge-list h1,
#badge-description h1, 
#donor-info h1,
#contribution-totals h1,
#contribution-list h1 {
	display : inline ;
	position : relative ;
	top : -0.2em ;
	font-family : "adelle", Georgia, serif ;
	font-size : 1.9em ;
	font-weight : normal ;
	padding : 0 ;
	line-height : 1.2em ;
}

#donor-brief-description,
#contribution-stats {
	font-size : 1.1em ;
}

#badges,
#win-loss {
	display : inline-block ;
	zoom : 1 ;
	*display : inline ;
	vertical-align : top ;
	width : 37.9% ;
	text-align : center ;
	margin-top : 1.2em ;
	margin-bottom : 1.2em ;
	font-family : Arial, sans-serif ;
}

#badges.extra-wide,
#win-loss.extra-wide {
	width : 49% ;
}

#badges {
	margin-right : 1% ;
}

#badges h1,
#win-loss h1 {
	font-family : Arial, sans-serif ;
	font-size : 0.9em ;
}

#badges ul {
	text-align : center ;
	padding : 0 ;
	margin : 0 ;
}

#badges ul li {
	list-style-type : none ;
	display : inline-block ;
	zoom : 1 ;
	*display : inline ;
	padding : 5px ;
	margin : 0 ;
	font-size : 0.75em ;
	line-height : 1.1em ;
	text-align : center ;
	max-width : 70px ;
	vertical-align : top ;
}

#badges ul li a:link {
	font-size : 1em ;
}

#win-loss-pct {
	font-size : 1.95em ;
	margin : 0.8em 0 ;
}

#donor-bio {
	clear : both ;
	font-family : "adelle", Georgia, serif ;
	line-height : 1.6em ;
}

#contribution-totals {
	margin-top : 2em ;
}

figure {
	margin : 1em 0 ;
}

#contribution-timeline {
	position : relative ;
	width : 100% ;
}

#contribution-timeline .progress-wheel {
	position : absolute ;
	top : 63px ;
	left : 0 ;
	display : block ;
	margin : auto 0 ;
	width : 615px ;
	text-align : center ;
}

#timeline-hover {
	display : none ;
	position : absolute ;
	top : 0 ; 
	left : 0 ;
	width : 200px ;
	background-color : #FFF ;
	border : 1px solid #000 ;
	padding : 4px ;
	z-index : 10 ;
}

#timeline-chart {
	float : left ;
	display : inline-block ;
	zoom : 1 ;
	*display : inline ;
	vertical-align : top ;
	/*width : 100% ;*/
	width : 615px ;
}

#contribution-timeline #timeline-chart {
	overflow : visible ;
}


#contribution-timeline ul#controls {
	list-style-type : none ;
}

#start-week-label,
#end-week-label {
	position : absolute ;
	bottom : 0 ;
}

#start-week-label {
	left : 21px ;
}

#end-week-label {
	right : -13px ;
	text-align : right ;
}

#timeline-hover-marker {
	position : absolute ;
	width : 1px ;
	height : 1px ;
}

@media (min-width: 960px) {
	#contribution-timeline #key {
		display : inline-block ;
		zoom : 1 ;
		*display : inline ;
		font-size : 0.85em ;
		vertical-align : top ;
		margin : 0 0 5px 5px ;
		width : 90px ;
	}
	
	#contribution-timeline ul#controls {
		display : inline-block ;
		zoom : 1 ;
		*display : inline ;
		margin : 0 ;
		padding : 0 ;
		width : 90px ;
	}
	
	#contribution-timeline ul#controls li {
		padding : 0 ;
		margin : 0 ;
		display : block ;
	}

	#contribution-timeline #scale {
		display : block ;
		float : none ;
		margin-bottom : 5px ;
		width : 90px ;
	}

}


@media (max-width: 959px) {
	#contribution-timeline #key {
		font-size : 0.85em ;
		display : block ;
		vertical-align : top ;
		margin : 0 0 5px 5px ;
	}
	
	#contribution-timeline ul#controls {
		display : inline ;
		margin : 0 ;
		padding : 0 ;
	}
		
	#contribution-timeline ul#controls li {
		padding : 0 ;
		margin : 0 0 0 10px ;
		display : inline-block ;
		zoom : 1 ;
		*display : inline ;
	}

	#contribution-timeline #scale {
		float : left ;
		display : inline-block ;
		zoom : 1 ;
		*display : inline ;
		margin-bottom : 5px ;
		width : 90px ;
	}
	
}

#contribution-timeline #scale .scale-label {
	display : inline-block ;
	zoom : 1 ;
	*display : inline ;
	width : 42px ;
}

#contribution-timeline #scale .more {
	text-align : right ;
}

#contribution-timeline #scale #gradient {
	vertical-align : middle ;
	margin : 0 auto ;
	width : 50px ;
	height : 15px ;
	text-align : center ;
	
	background: rgb(229,229,229); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNTYzMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgb(229,229,229) 0%, rgb(229,99,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(229,229,229)), color-stop(100%,rgb(229,99,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgb(229,229,229) 0%,rgb(229,99,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgb(229,229,229) 0%,rgb(229,99,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgb(229,229,229) 0%,rgb(229,99,0) 100%); /* IE10+ */
	background: linear-gradient(left, rgb(229,229,229) 0%,rgb(229,99,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e56300',GradientType=1 ); /* IE6-8 */
	
}


#type-check-group,
#result-check-group {
	margin-left : 30px ;
	display : inline-block ;
	zoom : 1 ;
	*display : inline ;
}

#result-check-group {
	margin-left : 40px ;
}

#type-check-group h4,
#result-check-group h4 {
	font-weight : normal ;
	padding-bottom : 4px ;
}

.cir-datatables .dataTables_filter label {
	font-size : 14px ;
}


.cir-datatables .dataTables_filter {
	display : inline-block ;
	zoom : 1 ;
	*display : inline ;
	float : none ;
	text-align : left ;
	width : auto ;
}

.toolbar {
	display : inline-block ;
	zoom : 1 ;
	*display : inline ;
	margin-left : 10px ;
}

.hidden-td {
	display : none ;
}

.cir-datatables .dataTable tr.odd {
	background-color : inherit ;
}

.cir-datatables .dataTable tr.even td.sorting_1,
.cir-datatables .dataTable tr.odd td.sorting_1 {
	background-color : #F7F7F7 ;
}

.cir-datatables .dataTable td {
	border-bottom : 1px solid #CCC ;
	padding : 10px 4px ;
}

.cir-datatables .dataTable th.date {
	text-align : right ;
}

.cir-datatables td.date {
	text-align : right ;
	padding-right : 10px ;
}

.cir-datatables th.amount {
	text-align : right ;				
}

.cir-datatables td.amount {
	text-align : right ;
	padding-right : 10px ;
}

.cir-datatables th.date {
	min-width : 80px ;
}

.cir-datatables th.recipient {
	text-align : left ;
}

.cir-datatables td.recipient {
	text-align : left ;
	padding-left : 10px ;
}
				
td .loss {
	color : #C1272D ;
}

td .win {
	color : #006837 ;
}

.dataTables_paginate {
	padding-top : 10px ;
}

/******************* end detail page *******************/

/******************* badge list page *******************/

#badge-list table {
	width : 100% ;
}

#badge-list td {
	border-bottom : 1px solid #CCC ;
}

#badge-list td.badge-image {
	vertical-align : top ;
	text-align : center ;
	padding : 20px 20px 20px 0 ;
	width : 155px ;
}

#badge-list .badge-name {
	font-size : 1.4em ;
	line-height : 2em ;
}

#badge-list .badge-description {
	padding : 20px 0 ;
}

a.badge-recipients:before {
	content : '\00BB\0020\0020' ;
}

a.badge-recipients:link,
a.badge-recipients:visited,
a.badge-recipients:hover {
	display : block ;
	margin-top : 12px ;
}

#badge-list tr:first-child td {
	padding-top : 0 ;
}

#badge-list tr:last-child td {
	border-bottom : none ;
}

/******************* begin badge detail page *******************/

#badge-description {
	margin-bottom : 30px ;
}

#badge-description .badge-image {
	float : left ;
	margin-right : 20px ;
	margin-bottom : 30px ;
}

/******************* end badge detail page *******************/

/******************* end badge list page *******************/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}


/******************* begin credits *******************/
#credits {
	margin-top : 20px ;
}

#big-credits .credit-logo {
	display : inline-block ;
	zoom : 1 ;
	*display : inline ;
	color : rgb(176, 176, 176) ;
	vertical-align : top ;
	margin-top : 20px ;
}

#big-credits .credit-logo:last-child {
	padding-left : 20px ;
}

#big-credits .credit-logo h2 {
	font-family : Arial, sans-serif ;
	font-size : 18px ;
	font-weight : bold ;
}

#cir-logo {
	padding-left : 50px ;
}

#nimsp-logo {
	padding-left : 146px ;
}

#sacbee-logo {
	padding-left : 35px ;
}
/******************* end credits *******************/

/******************* begin api *******************/

table.api-documentation td {
	padding : 7px 10px ;
}

table.api-documentation td.property-name {
	width : 20% ;
	font-family : Menlo, Monaco, "Courier New", monospace ;
	background-color : whiteSmoke ;
}

table.api-documentation td.property-return-type {
	width : 15% ;
	text-align : center ;
}
				
/******************* end api *******************/
			

