#rainmaker-widget-container h2#widget-hed {
	font-weight : normal ;
	font-size : 2em ;
	line-height : 1.8em ;
}

#widget-intro {
	margin-bottom : 0 ;
}

#widget-logo {
	margin : -2px 0 5px 0 ;
	text-align : right ;
	color : rgb(125, 128, 126);
	vertical-align : bottom ;
}

#widget-logo img {
	position : relative ;
	top : 2px ;
}

table.donor-list {
	width : 100% ;
	font-size : 16px ;
	font-family : Helvetica, sans-serif ;
}

.donor-list td {
	border-bottom : 1px solid #CCC;
	padding : 12px 4px;
	font-size : 0.87em ;
	line-height : 1.2em ;
	color : #333 ;
}

.donor-list td.rank {
	font-size : 1.5em;
	padding-left : 0;
	text-align: center;
}

.donor-list .mug {
	float : left ;
	margin-right : 10px ;
	margin-bottom : 5px ;
}

.donor-name,
.donor-location {
	display : inline ;
	line-height : 1.5em ;
}

.donor-name:after {
	content : ', '
}

.donor-list td.amount {
	text-align : right ;
	font-size : 1em ;
}

.donor-list .donor-descrip,
.donor-list .donor-stats {
	font-size : 0.85em ;
}

.donor-list td a:link,
.donor-list td a:visited,
.donor-list td a:hover {
	color : #08C ;
}
