{% load chunks donor_extras %}
<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>{% block title %}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% block meta_description %}{% captureas intro_text %}{% chunk "intro_text" %}{% endcaptureas %}{{ intro_text|striptags }}{% endblock %}">

  <meta property="og:title" content="{% block og_title %}{% captureas title %}{% chunk "title" %}{% endcaptureas %}{{ title|striptags }}{% endblock %}" />
  <meta property="og:description" content="{% block og_description %}{% captureas intro_text %}{% chunk "intro_text" %}{% endcaptureas %}{{ intro_text|striptags }}{% endblock %}" />
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{% block custom_url %}{{ request.get_full_path }}{% endblock %}"/>
  <meta property="og:site_name" content="{% block custom_sitename %}{% captureas title %}{% chunk "title" %}{% endcaptureas %}{{ title|striptags }}{% endblock %}"/>
  <meta property="og:image" content="{% block custom_og_image %}{% endblock %}"/>
  <meta property="fb:app_id" content=""/>

  <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" charset="utf-8"/>
  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
	
  {% chunk "google_analytics_bug" %}

  <script type="text/javascript" src="http://use.typekit.com/onc8drm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script src="{{ STATIC_URL }}js/modernizr-custom-2.5.3.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
  <script src="{{ STATIC_URL }}js/raphael-2.1.0-min.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>

  {% block extra_js %}{% endblock %}

</head>
<body>
  <section id="main-body" style="margin-left:5%; margin-right:5%;">

      <article class="row-fluid">

        <header>
          <a href="http://publicsource.org/" target="_blank" border="0"><img src="http://publicsource.org/sites/all/themes/publicsource/images/PS_logo.png"></a>
          <h1>{% block main-headline %}{% chunk "title" %}{% endblock %}</h1>
          <p class="intro-text">{% block intro-text %}{% chunk "intro_text" %}{% endblock %}</p>
        </header>

        <section id="main-body">
          {% block content %}{% endblock %}
          {% block site-credits %}{% chunk "site_credits" %}{% endblock %}
          <footer>
            <p class="sourceline">{% block sourceline %}{% endblock %}</p>
          </footer>
        </section>

      </article>
  </section>
</body>
</html>